certifi==2022.12.7
charset-normalizer==3.1.0
cmake==3.26.3
docutils==0.19
idna==3.4
Kivy==2.1.0
kivy-deps.angle==0.3.3
kivy-deps.glew==0.3.1
kivy-deps.gstreamer==0.3.3
kivy-deps.sdl2==0.4.5
Kivy-Garden==0.1.5
numpy==1.24.3
opencv-contrib-python==4.7.0.72
opencv-python==4.7.0.72
pandas==2.0.1
Pygments==2.15.1
pypiwin32==223
python-dateutil==2.8.2
pytz==2023.3
pywin32==306
requests==2.29.0
six==1.16.0
tzdata==2023.3
urllib3==1.26.15