certifi==2021.5.30
chardet==3.0.4
docutils==0.16
idna==2.10
Kivy==2.0.0
kivy-deps.angle==0.3.0
kivy-deps.glew==0.3.0
kivy-deps.gstreamer==0.3.2
kivy-deps.sdl2==0.3.1
Kivy-Garden==0.1.4
numpy==1.18.3
opencv-contrib-python==4.2.0.34
opencv-contrib-python-headless==4.5.3.56
opencv-python==4.2.0.34
opencv-python-headless==4.5.3.56
pandas==1.0.3
Pygments==2.6.1
pypiwin32==223
python-dateutil==2.8.1
pytz==2020.1
pywin32==227
requests==2.23.0
six==1.16.0
urllib3==1.25.11
