certifi==2020.4.5.1
chardet==3.0.4
cmake==3.17.1
docutils==0.16
idna==2.9
Kivy==2.1.0
kivy-deps.angle==0.3.2
kivy-deps.glew==0.3.1
kivy-deps.gstreamer==0.3.3
kivy-deps.sdl2==0.4.5
Kivy-Garden==0.1.5
numpy==1.22.3
opencv-contrib-python==3.4.17.63
opencv-python==3.4.17.63
pandas==1.0.3
Pygments==2.6.1
pypiwin32==223
python-dateutil==2.8.1
pytz==2020.1
pywin32==227
requests==2.23.0
six==1.14.0
urllib3==1.25.9
